{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Formularz potwierdzenia{% endblock %}

{% block header_class %}
    <header class="header--form-page">
{% endblock %}
{% block header_logged_in %}
          <li class="logged-user">
            Witaj Agata
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
              <li><a href="#">Wyloguj</a></li>
            </ul>
          </li>
        {% endblock %}
{% block header_90 %}
    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie informacje o odbiorze.
        </h2>
    </div>
{% endblock %}