{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Profil uzytkownika{% endblock %}
{% block header_class %}
    <header class="header--profile-page">
{% endblock %}

{% block header_90 %}
  <div class="slogan container container--90">
    <div class="slogan--item">
        <section class="login-page" id="login">
            <h2>Profil uzytkownika {{ user.username }}</h2>
        </section>

        <h2>Imie: {{ user.first_name }}</h2>
        <h2>Nazwisko: {{ user.last_name }}</h2>
        <h2>Email: {{ user.email }}</h2>
    </div>
  </div>
{% endblock %}
{% block content %}
  <section id="donation-list" class="about-us">
    <div class="profile--text">
        <h2>Lista Twoich darow </h2>
        {% if all_not_taken_donations or all_taken_donations %}
            <form method="POST">
            {% csrf_token %}
            {% for donation in all_not_taken_donations %}
                <p>Worków: {{ donation.quantity }} ;
                    Organizacja: {{ donation.institution }} ;
                    Kategoria: {{ donation.categories.all|join:", " }} ;
                    Termin: {{ donation.pick_up_date }} {{ donation.pick_up_time }} ;
                    Status: Nieodebrane </p>
                <input type="hidden" name="donation_id" value="{{ donation.id }}">
                <button type="submit" name="action" style="margin: auto; display: block" value="{{ donation.id }}">zmień status</button>
            {% endfor %}
            {% for donation in all_taken_donations %}
                <p style="color: grey;">Worków: {{ donation.quantity }} ;
                    Organizacja: {{ donation.institution }} ;
                    Kategoria: {{ donation.categories.all|join:", " }} ;
                    Termin: {{ donation.pick_up_date }} {{ donation.pick_up_time }} ;
                    Status: Odebrane {{ donation.is_taken_changed_date }}</p><br>
                <button type="submit" name="action" style="color: grey; margin: auto; display: block" value="{{ donation.id }}">zmień status</button>
            {% endfor %}
            </form>
        {% else %}
        <p>Brak</p>
        {% endif %}
    </div>
    <div class="about-us--image"><img src="{% static 'images/donation.webp' %}" alt="People in circle" /></div>
  </section>

{% endblock %}